<div
  *ngFor="let movie of moviesToBeGuessed; index as i">
  <section
    *ngIf="'/quiz?question=' + movie.order === currentRoute">
    <form [@bounceIn]="bounceIn">
      <app-clues
        [movieOrder]="movie.order"
        [movieID]="movie.id"
        [moviesTotal]="moviesTotal">
      </app-clues>
      <app-options
        [movieToGuessId]="movie.id"
        [optionsTitlesAndIds]="titlesAndIds[i]"
        [movieOrder]="movie.order"
        (progressIncrement)="incrementQuizProgress($event)"
        (correctIncrement)="incrementQuizCorrect($event)">
      </app-options>
    </form>
  </section>
</div>
