<h3>Which one do you think it is?</h3>
<div class="options">
    <div class="option-item">
        <label for="mov31">
            <input type="radio" name="movie_option3" value="Movie Name #1" id="mov31" />
        </label>
    </div>
    <div class="option-item">
        <label for="mov32">
            <input type="radio" name="movie_option3" value="Movie Name #2" id="mov32" />
        </label>
    </div>
    <div class="option-item">
        <label for="mov33">
            <input type="radio" name="movie_option3" value="Movie Name #3" id="mov33" />
        </label>
    </div>
</div>
