<h3>Which one do you think it is?</h3>
<div class="options">
    <div class="option-item"
      *ngFor="let titleAndId of optionsTitlesAndIds">
        <label
          [ngClass]="{'correct-answer'   : optionCorrect === true,
                      'incorrect-answer' : optionCorrect === false}">
            <input
              type="radio"
              [id]="titleAndId.id"
              [disabled]="optionsDisabled"
              (click)="onChoose(option)"
              #option />
            {{ titleAndId.title }}
        </label>
    </div>
</div>
