<app-loading *ngIf="loadingStatus">
</app-loading>
<section
  *ngFor="let movie of moviesToBeGuessed; index as i">
  <form>
    <app-clues
      [movieOrder]="movie.order"
      [movieID]="movie.id"
      [moviesTotal]="moviesTotal">
    </app-clues>
    <app-options
      [movieToGuessId]="movie.id"
      [optionsTitlesAndIds]="titlesAndIds[i]"
      (progressIncrement)="incrementQuizProgress($event)"
      (correctIncrement)="incrementQuizCorrect($event)">
    </app-options>
  </form>
</section>
<a [routerLink]="['/results']"
   [queryParams]="{correct: quizCorrect}"
   [ngStyle]="{display: resultsLinkVisibleStyle}"
   class="results-link">
    Results
</a>
<app-progress-bottom
  [progressValue]="quizProgress">
</app-progress-bottom>
