<app-loading *ngIf="spinnerStatus">
</app-loading>
<section
  *ngFor="let movie of moviesToBeGuessed; index as i">
  <form>
    <app-clues
      [movieOrder]="movie.order"
      [movieID]="movie.id">
    </app-clues>
    <app-options
      [movieToGuessId]="movie.id"
      [optionsTitlesAndIds]="titlesAndIds[i]"
      (progressIncrement)="incrementQuizProgress($event)"
      (correctIncrement)="incrementQuizCorrect($event)">
    </app-options>
  </form>
</section>
<mat-progress-bar
  [value]="quizProgress">
</mat-progress-bar>
