i {
  transform: translate(-7px, 5px);
}

.navbar {
  background: #37b4be;
}

.nav-link {
  padding-left: 40px !important;
}

.navbar-brand {
  transform: translate(0, -17px);
  margin-right: 1.8rem;
}

.navbar-brand:before {
  background-image: url('../../../assets/images/zonky.png');
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: '';
  transform: translate(-8px, 16px);
}
